/* main elements */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #76409B;
	font-family: 'Arimo', sans-serif;
	color: white;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-style: none;
}

#mobileLogo {
	width: 10vw;
}

#desktopLogo {
	width: 7vw;
	margin: 5vw;
	float: left;
}

#logoDIV {
	width: 100%;
	text-align: center;
	align-content: center;
	align-self: center;
	align-items: center;
}

h1 {
	font-family: 'Rubik Mono One', sans-serif;
	color: white;
	text-align: center;
	font-size: 6vw;
}

.active {
	display: block !important;
}

img {
	width: 100%;
}
/* mobile nav bar */

.mobileNavBar {
	display: none;
}

.navList {
	list-style-type: none;
	width: 100%;
	text-align: center;
}

.navList .listItem {
	display: inline-block;
	padding: 10px;
	color: #9266CC;
}

.mobileNavBar a {
	transition: 0.5s;
}

.listItem a:hover {
	color: black;
}

.navMenu {
	display: none;
	float: right;
}

.menuLine {
	width: 20px;
	height: 3px;
	background-color: #553788;
	margin-bottom: 5px ;
}

@media all and (max-width: 780px) {
	.mobileNavBar {
		display: block;
		background-color: white;
		flex-direction: column;
		color: #9266CC;
		display: flex;
		justify-content: space-around;
		font-size: 20px;
	}

	.navList .listItem {
	display: block;
	padding: 10px;
	}

	.navList {
		display: none;

	}
		
	.navMenu {
		display: block;
		position: absolute;
	}

	#logoDIV {
	width: 100%;
	}

	.desktopNav {
		display: none;
	}

	#mobileLogo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* desktop nav bar */

.dlistItem {
	list-style-type: none;
	color: white;
}

.desktopNavBar {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	float: left;
	text-align: center;
	animation-name: fadeInTop;
	animation-duration: 1s;
	animation-iteration-count: 1;
	margin: 7vw 0 10vw 0;
}

nav a {
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 2vw;
	color: white;
	transition: 0.5s;
}

nav a:hover {
	color: #AA8DD8;
	text-decoration-line: overline;

}

.active {
	color: #C43C1E;
}

@keyframes fadeInTop {
	0% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* HOME VIDEO */

.video-container {
	position: relative;
	padding-bottom: 50%;
	padding-top: 40px;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 3vw;
}

.intro {
	padding: 30vw 0 20vw 0;
}

#about {
	background-color: #251E20;
}

/* info about*/

#about img {
	width: 100%;
}

/* arroe */

.learnConti {
	text-align: right;
	background-color: white;
	padding: 5vw;
	margin: 0;
	width: 100%;
	color: #251E20 ;
	line-height: 0.4;
}
.learnConti h1 a{
	text-align: left;
	color: #251E20;
	transition: 0.5s;

}

.learnConti h1 a:hover {
	color: #553788 ;
}

.learnConti h2 {
	line-height: 0.5;
	font-size: 3vw;
}

.learnieeeConti {
	text-align: right;
	background-color: #251E20;
	padding: 5vw;
	margin: 0;
	width: 100%;
	color: white ;
	line-height: 0.4;
}

.learnieeeConti h1 a{
	text-align: left;
	color: white;
	transition: 0.5s;

}

.learnieeeConti h1 a:hover {
	color: #553788 ;
}

.learnieeeConti h2 {
	line-height: 0.5;
	font-size: 3vw;
}

/* img hover */

.image {
    position: relative;
    width: 100%;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/* loader  */

.loaderDIV {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	height: 100%;
	background-color: #251E20;
	position: fixed;
	top: 0;
	left: 0;
}
.wineglass {
  height: 36px;
  position: relative;
}
.wineglass:after {
  content: ''; 
  position: absolute;
  top: 47px;
  left: 5px;
  width: 20px;
  height: 5px;
  background: white;
  box-shadow: 0 0 1px white;
}
.top {
  background: white;
  width: 30px;
  height: 36px;
  border-radius: 0 0 36px 36px;
  box-shadow: 0 0 1px white;
}
.top:before {
  content: ''; 
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(transparent 50%, #76409B 50%);
}
.left .top:before {
  animation: rotate2 2s linear infinite;
}
.right .top:before {
  animation: rotate1 2s linear infinite;
}
.top:after {
  content: ''; 
  position: absolute;
  top: 35px;
  left: 12px;
  width: 6px;
  height: 13px;
  background: white;
  box-shadow: 0 0 1px white;
}
.left {
  display: inline-block;
  margin-right: 10px;
  animation: rotate1 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
.right {
  display: inline-block;
  animation: rotate2 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
@keyframes rotate1{
  0% {transform: rotate(0deg);}
  50% {transform:rotate(22deg);}
}
@keyframes rotate2{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(-22deg);}
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 25px;
  position: relative;
  opacity: 0;
  animation: 2s fadeInUp infinite linear 2s;
}
li {
  width: 6px;
  height: 15px;
  background: white;
  position: absolute;
  box-shadow: 0 0 1px white;
  transform-origin: bottom;
}
li:nth-child(1) {
  left: 26px;
  bottom: 5px;
  transform: rotate(-35deg);
}
li:nth-child(2) {
  left: 34px;
  bottom: 8px;
}
li:nth-child(3) {
  left: 42px;
  bottom: 5px;
  transform: rotate(35deg);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scaleY(1);
  }
  
  33% {
    opacity: 1;
    transform: scaleY(1.4);
  }
  64% {
     opacity: .1;
     transform: scaleY(1);
  }
  100% { 
    opacity: 0;
    transform: scaleY(.3);
  }
}
/*iframe {
	width: 100%;
	border: 0 none;
	padding-bottom: 60%;
	position: absolute;
	height: 100%;
}*/


/* COLORS
	#FFFFFF (white)
	#EBF0F2 (icy-white)
	#AA8DD8 (lavander)
	#9266CC (violet)
	#76409B (purple [main])
	#744EAA (dark violet)
	#553788 (darker violet)
	#251E20 (blackish)*/

/* font-family: 'Arimo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */
